@use 'src/styles' as s;


.account_alert_container{
  padding: 0;
}

.account_alert {
  //position: absolute;
  top: 100%;
  left: 0;
  border-radius: 0;
  background-color: #f5d7b3;
  color: #2f2f2f;
  font-size: .92rem;
  font-weight: 300;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;

  //border: 1px solid #000;

  a{
    display: none;
  }

  @include s.media-breakpoint-up(md){
    a{
      display: block;
    }
  }


}
