@use '@/styles/index' as s;

.container {
  width: 100%;


  .swiper {
    position: relative;
    max-width: 100%;
    overflow: hidden;

    .swiper_container {
      position: relative;


      @include s.media-breakpoint-up(md) {
        width: 120%;
        transform: translateX(-10%);

      }
    }

    .nav {
      position: absolute;
      max-width: 100%;
      z-index: 10;
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      right: 0;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);

      @include s.media-breakpoint-up(md) {
        max-width: 850px;
      }

      .nav_btn {
        background-color: rgba(42, 43, 55, 0.46);
        backdrop-filter: blur(10px);

        &:hover {
          background-color: var(--accent-main);
        }

        svg {
          height: 2rem;
          width: 2rem;
          color: white;
        }
      }
    }

    .slide {
      width: 100%;
      height: 17rem;
      user-select: none;

      @include s.media-breakpoint-up(md) {
        width: calc(60rem - 60px);
        height: 20rem;
      }

      .img_wrap {
        width: 100%;
        height: 100%;

        img {
          object-fit: cover;
          display: block;
        }
      }
    }
  }
}
